/x64/*
/Debug/*
!/Debug/assimp-vc140-mt.dll
!/Debug/freetype.dll
resources/C6W.png
resources/D6.png
resources/c10.png
resources/cow.obj
resources/cube.mtl
resources/cube.obj
resources/d10.jpg
resources/diffuse.jpg
resources/head.mtl
resources/head.obj
resources/heightmap.jpg
resources/ireland.jpg
resources/monkey.mtl
resources/monkey.obj
resources/plane2.mtl
resources/plane2.obj
resources/terrainTexture.png
resources/untitled.mtl
resources/untitled.obj
Main_.cpp
.vs/
imgui.ini
shaders/3dperlin_shadertoy.txt
shaders/worley3d.comp